nav {
  /* position: fixed; */
  float: right;
  /* text-align: right; */
  height: 50px;
  padding: 35px;
}

nav a {
  text-decoration: none;
  padding: 15px;
  color:rgb(58, 52, 52);
  box-shadow: 2px 2px  rgb(46, 44, 44);
}

nav a:hover {
  text-decoration: underline;

}

.brand-logo {
  height: 100px;
  width: 130px;
  background-position-x: 0%;
}

.box {
  margin: 10px;
  /* background-color: rgb(241, 238, 238); */
}

.box img{
  /* align-self: auto; */
  margin-left: 170px;
}

.wrap img {
  overflow: hidden;
  width: 300px;
  height: 225px;
}

footer {
  background-color: rgb(46, 44, 44);
}

footer h2,ul{
  color: aliceblue;
  text-align: right;
  /* list-style-type: none; */
}
footer li{
  list-style-type: none;
}